#fhimg{
    text-align: center;
    border-radius: 10%;
    padding-bottom: 15px;

}
h1{
    align-self: auto;
    margin-left: 10px auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    margin: 100px auto;
    width: 70%;
}
p { 
    font-size: 30px;
    font-family: sans-serif;
    margin-left: 5px;
    text-align: justify;
}
#header{
    resize: none; 
    height: 200px;
    width: 100% auto;
    background-color: #15B5B0;
    margin: 0 auto;
    overflow: hidden;
}
html, body{
    height: 100%;
    background-color: #CDE8E5;
    justify-self: center;
    align-items: center;
}
#container {
    min-height: 100%
}
#main{
    overflow: auto;
    padding-bottom: 100px;
    background-color: #CDE8E5;
}
#footer{
    background-color: #7AB2B2;
    position: relative;
    height: 20%;
    margin-top: -100px;
    clear: both;
}  
.page-header{
    font-size:40px;
    font-family: sans-serif;
    font-weight: bold;
}
h1{
    font-family: sans-serif;
    font-size: 40px; 
}

.select-box{
    font-family: sans-serif;
    font-size: 40px;
    inline-size: auto;
    display: inline-block; width:auto;
    text-decoration: none;
    padding: 20px 20px;
    background-color: transparent;
    text-align: middle;
    margin-left: 80px;
}
a:hover{
    opacity: 0.7;
}
#kathua {
    margin-top: 50px;
    display: block;
    align-self: middle;
    margin:0 auto;
    border-radius: 50%;
    height: 500px;
    length: 500px;
}
h4 {
    display: inline-block; width :50%;
    text-align: center;
    font-family: sans-serif;
    font-size: 60px;
    margin-left: 100px;

}
h5{
display: inline-block; width :50%;
text-align: justify;
font-family: sans-serif;
font-size: 50px;
}
h3{
    font-family: sans-serif;
    font-size: medium;
}
#fhimg{
    text-align: center;
    height: 400px;
    width:300px;
    
}
.select-container {
    display: flex;

}
.select-box{
    border: none;
    appearance: none;
    padding: 0 30px 0 15px;
    width: 100%
   
}
h2{
    text-align: center;
}
.navbar-nav{
    display:flex;
    gap: 15rem;
    position:absolute;
    margin-left: 10rem;
}
.navbar a{
    font-family: sans-serif !important;
    font-size: larger;
}
function input (form) {
    var inputValue = form.inputbox.value;
    alert ("You typed: " + inputValue);
}